/*----initial setup----*/

html {
    margin:0;
    border:0;
    width:100%;
    height:auto;
    color:#000;
    font-family: "Brandon text";
}


body {
    margin:0;
    border:0; 
    background-image: url("../images/long_bg.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@font-face {
    font-family:"Brandon text";
    src: 
        url("/font/brandon/HVD Fonts - BrandonText-Regular.otf") format("otf");
}

@font-face {
    font-family:"LeviReBrushed";
    src: 
        url("/font/levi/LeviReBrushed.ttf") format("ttf");
}

@font-face {
    font-family:"Andale Mono";
    src: 
        url("/font/andale/Andale Mono.ttf") format("ttf");
}

@font-face {
    font-family:"HL";
    src: 
        url("/font/HL/Hlf.ttf") format("ttf");
}



/*-----navbar basic-----*/

/*======nav======*/
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 500;
}

.nav-container {
    padding: 20px 30px; 
}

.logo {
    width: 40px;
}

nav ul li {
    display:inline-block;
    margin-left: 2em;
}

.nav {
    text-align: right;
    margin-top: 18px;
}


/*
.nav-container{
    height:160px;
    top:0;
    left:0;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:0 50px;
}
*/

/*---main basic----*/

.main_container{
    width:100%;
    max-width: 100%;
    /*background-color: beige;*/
}

.sec img{
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}
.sec {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:8%;
    margin-right:8%;
    max-width: 100%;
    margin-bottom: 20vw;
    margin-top:5vw;
}

.sub{
    width: 50%;
    /*background-color: aqua;*/
    padding:2%;
}


.category{
    font-family: "Andale Mono";
    font-size: 1em;
}

.title{
    font-family: "HL";
    font-size: 3.5em;
    margin:2vw 0;
}

.para{
    font-size: 1em;
    line-height:1.68em;
    margin-top:2vw;
    
}

.sec1 .text{
    margin-top:10vw;
    background-image: url("/images/dot1-yellow.png");
    background-repeat: no-repeat;
    background-position: 20vw -3vw; 
    
    
}

.sec2 .text{
    margin-top:10vw;
    background-image: url("/images/dot1-yellow.png");
    background-repeat: no-repeat;
    background-position: 5vw -4vw; 
    
}

/*-----about us-------*/


.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw;
}

.name{
    font-size:1.2em;
    font-weight:500;
    margin:0.4em;
}
.school{
    font-size:0.875em;
}

.sec3 .material{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/*---process---*/

.sec6 .material {
   
}


/*----footer---*/
footer {
    height:200px;
}



/*============MEDIA=============*/

@media screen and (max-width: 750px) {
.sec {
    display:block;
    margin-left:8%;
    margin-right:8%;
    width: 100%;
    margin-bottom: 20vw;
    margin-top:5vw;
}
    
    
.sub{
    width: 80%;
    /*background-color: aqua;*/
    padding:2%;
}
    
    .sec1 .material img, .sec2 .material img{
        width: 40%;
    } 
    
    .sec2 .material img {
        display: hidden;
    }

    .sec2 .title img{
        width: 50%;
    }
    
    .sec3 .material {
        display:inline-block;
/*        background: #fcf;*/
    }
    .sec3 .material .profile img {
        width: 100%;
/*        background: #ffc;*/
        flex-shrink: 0;
    }
    
    body {
    margin:0;
    border:0; 
    background-image: url("../images/long_bg_mobile.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
/*
.profile{
    display:flex;
    align-items: center;
    margin: 0.5vw;
    width: 50%;
}

.sec3 .material{
    display:flex;
}
    
    .sec3 .material img {
        width: 30vw;
        height: auto;
    }
*/

}